<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Paytone+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<header class="navbar">
<h3 style="color:white;font-family:'Paytone One', sans-serif">Material supply chain</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
  </ul>
</header>
<div>
<h4 style="color:gray;text-align:center;padding-bottom:30px;">Our Employee Details</h4>
</div>

<table class="table">
  <thead>
    <tr  class="table-primary">
      <th scope="col">employee_id</th>
      <th scope="col">Name</th>
      <th scope="col">Post</th>
      <th scope="col">phone_no</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for row in employee %}
    <tr>
      <th scope="row">{{row.0}}</th>
      <td>{{row.1}}</td>
      <td>{{row.2}}</td>
      <td>{{row.3}}</td>
      <td>Interior_Design</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>